# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
ui/*.py
!ui/__init__.py
settings.ini
default.js
plugins/Selenium/chromedriver*

# Distribution / packaging
env/
build/
dist/

