# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
ui/*.py
settings.ini

# Distribution / packaging
env/
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

