# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
src/ui/*.py
!src/ui/__init__.py
src/settings.ini
src/default.js
src/plugins/Selenium/chromedriver*

# Distribution / packaging
env/
venv/
build/
dist/
src/logs/
src/EventTemplates/*
!src/EventTemplates/default.js
src/site.db
