[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-oauth = "*"
dateparser = "*"
flask-wtf = "*"
attrdict = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-navbar = "*"
meetup = "*"
meetup-api = "*"
google-api-python-client = "*"
oauth2client = "*"
googleapiclient = "*"
google-oauth-oauthlib = "*"
google-auth-oauthlib = "*"
google = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
