{% from "_macros.html" import render_field, render_multipleselect_field %}
<script>
  $('.selectpicker').selectpicker();
</script>

<form method="POST" action="" id="classForm">
  <input type="hidden" name="ts_indicator" id="ts_indicator" value="">
  <input type="hidden" id="ts_name" name="ts_name" value="">
    
  {{ form.hidden_tag() }}
  
  <div class="border rounded p-2 my-2 bg-light">
    <div class="row">
      <div class="col-md-12">
        {{ render_field(form.classTitle) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ render_field(form.instructorName) }}
      </div>
      <div class="col-md-6">
        {{ render_field(form.instructorEmail) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ render_field(form.classLocation) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ render_field(form.classDescription) }}
      </div>
    </div>

    <fieldset class="form-row">
      <div class="col">
        {{ render_field(form.classDate) }}
      </div>
      <div class="col">
        {{ render_field(form.starttime) }}
      </div>
      <div class="col">
        {{ render_field(form.endtime) }}
      </div>
    </fieldset>

    <div class="row">
      <div class="col-md-6">
        {{ render_field(form.minAge) }}
      </div>
      <div class="col-md-6">
        {{ render_field(form.maxAge) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ render_field(form.registrationLimit) }}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        {{ render_field(form.memberPrice) }}
      </div>
      <div class="col-md-6">
        {{ render_field(form.nonMemberPrice) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ render_multipleselect_field(form.authorizations) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ render_multipleselect_field(form.resources) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ render_multipleselect_field(form.platforms) }}
      </div>
    </div>

  </div>
  <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>