{% from "_macros.html" import render_field, render_select_field, render_file_field %}
<script>
  $('.selectpicker').selectpicker();
</script>

<form method="POST" action="" id="classForm" enctype="multipart/form-data">
  <input type="hidden" name="ts_indicator" id="ts_indicator" value="">
  <input type="hidden" id="ts_name" name="ts_name" value="">
    
  {{ form.hidden_tag() }}
  
  <div class="border rounded p-2 my-2 bg-light">
    <div class="row">
      <div class="col-md-4">
        {{ render_select_field(form.eventType) }}
      </div>
      <div class="col-md-4">
        {{ render_select_field(form.eventTag) }}
      </div>
      <div class="col-md-4">
        {{ render_select_field(form.eventStatus) }}
      </div>
    </div>    

    <div class="row">
      <div class="col-md-12">
        {{ render_field(form.eventTitle) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ render_file_field(form.image_file, filename=form.image_file.data, folder='/event_images/') }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ render_field(form.hostName) }}
      </div>
      <div class="col-md-6">
        {{ render_field(form.hostEmail) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ render_field(form.eventLocation) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ render_field(form.eventDescription) }}
      </div>
    </div>

    <fieldset class="form-row">
      <div class="col">
        {{ render_field(form.eventDate) }}
      </div>
      <div class="form-row col-md-8 mx-0 px-0">
        <div class="col">
          {{ render_field(form.starttime, append='CDT') }}
        </div>
        <div class="col">
          {{ render_field(form.duration, append='Hours') }}
        </div>
      </div>
    </fieldset>

    <fieldset class="form-row">
      <div class="col">
        {{ render_field(form.minAge) }}
      </div>
      <div class="col">
        {{ render_field(form.maxAge) }}
      </div>
    </fieldset>

    <div class="row">
      <div class="col-md-6">
        {{ render_field(form.registrationLimit) }}
      </div>
    </div>
    
    <div class="form-row">
      <div class="col">
        {{ render_field(form.memberPrice, prepend='$') }}
      </div>
      <div class="col">
        {{ render_field(form.nonMemberPrice, prepend='$') }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ render_select_field(form.authorizations) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ render_select_field(form.resources) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ render_select_field(form.platforms) }}
      </div>
    </div>

  </div>

  <div class="row mx-0">
      <div class="col-0 col-md-8 pr-md-0"></div>
      <div class="col-6 col-md-2 pr-md-0">
        <div class="form-group">
          <button type="button" class="btn btn-sm btn-block btn-secondary" onclick="history.back()">
            Cancel
          </button>
        </div>
      </div>
      <div class="col-6 col-md-2 pr-md-0">
        <div class="form-group">{{ form.submit(class="btn btn-primary btn-sm btn-block") }}</div>
      </div>
  </div>