{% extends "layout.html" %} 
{% from "_macros.html" import render_field, render_submit_field %}

{% block pageTitle %}
Create Event
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="templateSaveDialog" tabindex="-1" role="dialog" aria-labelledby="templateSaveDialogTitle" aria-hidden="true">

  <script type="text/javascript">
    function save_action() {
      document.getElementById("close_action").value = "save";
      document.getElementById("save_btn").disabled = true;
    }
  </script>

  <script type="text/javascript">
    function cancel_action() {
      document.getElementById("ts_name_input").value = "";
      document.getElementById("save_btn").disabled = true;
      document.getElementById("close_action").value = "cancel";
    }
  </script>

  <script type="text/javascript">
    function text_keyup() {
      var text = document.getElementById("ts_name_input").value;
	  if (text.length == 0) {
	    document.getElementById("save_btn").disabled = true;
	  } else {
		document.getElementById("save_btn").disabled = false;		  
	  }
    }
  </script>

  <input type="hidden" id="close_action" name="close_action" value="">
   
  <div class="modal-dialog modal-lg modal-dialog.centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="templateSaveDialogTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Save template (Specify Path and/or Name):<br>
      <input type="text" id="ts_name_input" name="ts_name_input" class="form-control" onkeyup="text_keyup();" width=100%/>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="cancel_action();" data-dismiss="modal">Cancel</button>
        <button type="button" id="save_btn" class="btn btn-secondary" onclick="save_action();" data-dismiss="modal" disabled>Save Template</button>
      </div>
    </div>
  </div>
</div>

<script>
$("#templateSaveDialog").on("hidden.bs.modal", function () {
   var name = $('#ts_name_input').val();
   var close_action = $('#close_action').val();
   
   if (close_action == "cancel") {
     return;
   }
   
   if (close_action == 'save') {
     document.getElementById("close_action").value = close_action;
     document.getElementById("ts_name").value = name;
     document.getElementById("ts_indicator").value = "save_template";
     var doc = document.getElementById("classForm");
     HTMLFormElement.prototype.submit.call(document.getElementById("classForm"));
  }

});
</script>
<script>
$("#templateSaveDialog").on("shown.bs.modal", function () {	 
     document.getElementById("ts_name_input").value = "{{form.selectedTemplateFullName}}";
     document.getElementById("ts_name").value = "";
     document.getElementById("ts_indicator").value = "";
     document.getElementById("save_btn").disabled = false;     
  }
);
</script>


<div class="container content-section">

  {% include "_event_edit_form.html" %}

</div>
</form>
</div>
{% endblock content %}
