{% extends "layout.html" %} 
{% from "_macros.html" import render_field, render_submit_field %}

{% block title %}Create Event{% endblock title %}

{% block pageTitle %} Create Event {% endblock %}

{% block header %}Create Event{% endblock header %}

{% block content %}

<!-- Modal -->
<script>
  function populateTemplateDialog(value) {
	if (value == 'savecopy') {
	    document.getElementById("dialog_mode").value = value
      document.getElementById("ts_title").innerText = "Save";
      document.getElementById("ts_label").innerText = "Save Template As (Specify Path and/or Name):"
      document.getElementById("ts_name_input").value = "{{form.selectedTemplateFullName}}";
      document.getElementById("ts_name_input").disabled = false;
      document.getElementById("ts_name").value = "";
      document.getElementById("ts_indicator").value = "";
      document.getElementById("save_btn").disabled = false;      
      document.getElementById("save_btn").hidden = false;
      document.getElementById("ok_btn").hidden = true;
      document.getElementById("cancel_btn").hidden = false;

    } else if (value == 'save') {
  	  document.getElementById("dialog_mode").value = value    	
      document.getElementById("ts_title").innerText = "Save";
      document.getElementById("ts_label").innerText = "Are you sure you want to overwrite:"
      document.getElementById("ts_name_input").value = "{{form.selectedTemplateFullName}}";
      document.getElementById("ts_name_input").disabled = true;
      document.getElementById("ts_name").value = "";
      document.getElementById("ts_indicator").value = "";
      document.getElementById("save_btn").disabled = false;
      document.getElementById("save_btn").hidden = true;
      document.getElementById("ok_btn").hidden = false;
      document.getElementById("cancel_btn").hidden = false;
      document.getElementById("save_btn").hidden = true;
    	
    } else if (value == 'delete') {
  	  document.getElementById("dialog_mode").value = value  	
      document.getElementById("ts_title").innerText = "Delete Template"
      document.getElementById("ts_label").innerText = "Are you sure you want to delete template:"
      document.getElementById("ts_name_input").value = "{{form.selectedTemplateFullName}}";
      document.getElementById("ts_name_input").disabled = true;
      document.getElementById("ts_name").value = "";
      document.getElementById("ts_indicator").value = "";
      document.getElementById("save_btn").disabled = false;
      document.getElementById("save_btn").hidden = true;
      document.getElementById("ok_btn").hidden = false;
      document.getElementById("cancel_btn").hidden = false;

    }
  }
</script>


<script type="text/javascript">
  function ts_action(value) {
    document.getElementById("close_action").value = value;
    $("#templateDialog").modal("hide"); 
    
    
    var name = $('#ts_name_input').val();
    var close_action = value;
  
    if (close_action == "cancel") {
      return;
    }
  
    if (close_action == 'save') {
      document.getElementById("ts_name").value = name;
      document.getElementById("ts_indicator").value = "save_copy_template";
      var doc = document.getElementById("classForm");
      HTMLFormElement.prototype.submit.call(document.getElementById("classForm"));
    }
    
    if (close_action == 'ok' && document.getElementById("dialog_mode").value == "save") {
      document.getElementById("ts_name").value = name;
      document.getElementById("ts_indicator").value = "save_template";
      var doc = document.getElementById("classForm");
      HTMLFormElement.prototype.submit.call(document.getElementById("classForm"));
    }

    if (close_action == 'ok' && document.getElementById("dialog_mode").value == "delete") {
      document.getElementById("ts_name").value = name;
      document.getElementById("ts_indicator").value = "delete_template";
      var doc = document.getElementById("classForm");
      HTMLFormElement.prototype.submit.call(document.getElementById("classForm"));
    }


    
  }
</script>

<script type="text/javascript">
  function text_keyup() {
    var text = document.getElementById("ts_name_input").value;
    if (text.length == 0) {
      document.getElementById("save_btn").disabled = true;
    } else {
      document.getElementById("save_btn").disabled = false;     
    }
  }
</script>

<div class="modal fade" id="templateDialog" tabindex="-1" role="dialog" aria-labelledby="ts_title" aria-hidden="true">
  <input type="hidden" id="dialog_mode" name="dialog_mode" value="">
  <input type="hidden" id="close_action" name="close_action" value="">
   
  <div class="modal-dialog modal-lg modal-dialog.centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ts_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <label id="ts_label"></label><br>
      <input type="text" id="ts_name_input" name="ts_name_input" class="form-control" onkeyup="text_keyup();" width=100% disabled="disabled"/>        
      </div>
      <div class="modal-footer">
        <button type="button" id="ok_btn" class="btn btn-secondary" onclick="ts_action('ok');" data-dismiss="modal" hidden="hidden">OK</button>
        <button type="button" id="save_btn" class="btn btn-secondary" onclick="ts_action('save');" data-dismiss="modal" hidden="hidden">Save Template</button>
        <button type="button" id="cancel_btn" class="btn btn-secondary" onclick="ts_action('cancel');" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="container content-section p-0">
  <fieldset>
    <div class="form-control-group form-inline">
      <!-- Template selector -->
      <select name="Template" class="selectpicker border rounded" data-live-search="true" data-width="auto" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
        {% for template in form.templates %}
          {% if form.selectedTemplateName and form.selectedTemplateName == template %}
            <option value="{{ form.template_map[template] }}" selected="selected">{{ template }}</option>
          {% else %}
            <option value="{{ form.template_map[template] }}">{{ template }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#templateDialog" onclick="populateTemplateDialog('save');">
        Save
      </button>
      <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#templateDialog" onclick="populateTemplateDialog('savecopy');">
        Save Copy
      </button>
      <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#templateDialog" onclick="populateTemplateDialog('delete');">
        Delete
      </button>
    </div>
  </fieldset>

  {% include "_event_edit_form.html" %}

</div>
</form>
</div>
{% endblock content %}
